@font-face {
    font-family: 'bfgmain';
    src: url('/Users/joshuabaker/bfg-landing/open-react-template/src/assets/fonts/HypotheticalmoonofMercury.ttf') format('truetype');
  }

@font-face {
    font-family: 'titlescore';
    src: url('/Users/joshuabaker/bfg-landing/open-react-template/src/assets/fonts/Rough Rider.ttf') format('truetype');
}